<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty app was bulit by <a target="-blank" href="https://github.com/roderickjoseph">Roderick</a>
  </p>
  <br />
  <p>
    He is currently studying to change careers again to become a web developer.
  </p>
  <p>
    If you would like to join him in learning how to code, you can begin by <a target="_blank" href="http://www.thefirehoseproject.com">clicking here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'cowboy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Roderick Gauvin</h2>
      <br />
      <p>
        Roderick Gauvin currently works in software support role for an up and coming financial software company.  He was previously a high school math teacher and tennis coach.  He was once lovingly known as Lord Gauvin by a small group of his students.
      </p>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />